
.cam-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


video {
  width: 100%;
}

.none {
  display: none;
}
